* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	overflow: hidden;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: var(--bgColor);
	color: var(--black);

	display: grid;
	place-items: center;
	width: 100vw;
	height: 100vh;
	transition: all 0.2s ease;
}

h1,
h2,
h3,
h4,
h5 {
	margin: 0;
}
