:root {
	--black: #161616;
	--white: #e0e0e0;
	--gray: #616161;
	--grayLight: #949494;
	--colorText: #161616;

	--primaryLight: #85c1e4;
	--primary: #249ce2;
	--primaryDark: #1e79ad;

	--bgColor: #bac8db;
	--bgContainerColor: #e9e9e9;
	--colorText: #161616;
	--shadowColor: #808da196;
	--borderBiography: #c5c5c5;
	--red: #e65050;
	--redDark: #c44242;
	--orange: #e29c40;
	--orangeLight: #ecb772;
	--orangeDark: #c08436;
	--green: #3ea80d;
	--greenDark: #2c6d0e;
}
